html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FF69FF;
}

/* typography and icons */



h1{
    color: white;
    font-size: 30px;
    justify-content: center;
    margin-bottom: 30px;
    text-shadow: #FF69FF 0px 0px 1px
    
}

i{
    font-size: 15px;
    cursor: pointer;
}

.fa-solid{
    color: #999;
}

.liked{
    color: red;
}

.retweeted {
  color: limegreen;
}

/* layout */

main, header{
    width: 290px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    background-color: #FF69B4;
    border-radius: 20px;
    border: solid;
    border-color: #5BCEFA;
}

header{
    padding-bottom: 25px;
    
}

.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding-top: 15px;
    
}

/* textareas + btn */

textarea{
    border: none;
    resize: none;
    padding: 10px;
    margin: 0 0 20px 0;
    height: 60px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    background-color: #FF69B4;
}



.tweet-btn{
    background-color: #5BCEFA;
    border: solid 2px;
    border-color: white;
    color: white;
    padding: 10px 19px;
    border-radius: 20px;
    width: 100%; 
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

/* tweet */

.tweet{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0;
    width: 100%;
    margin: 15px 0;
}

.tweet-inner{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
}

.tweet-details{
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 160px;
}

.tweet-detail{
    display: flex;
    gap: 4px;
}

.tweet-reply{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0px;
    margin: 10px 0 10px 40px;
    width: 80%;
}

.handle{
    font-size: 12px;
    font-weight: 500;
    color: #555;
    margin-top: 0;
}

.tweet-text{
    width: 207px;
    font-size: 14px;
    line-height: 20px;
}

/* images */

.profile-pic{
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 48px;
}

.profile-pic#reply-profile-pic {
    width: 25px;
    height: 25px
}

/* utility */
.hidden{
    display: none;
}

.myreply{
    display: flex;
    height: 5%
}

.myreply-button{

    background-color: #5BCEFA;
    border: solid 2px;
    border-color: white;
    color: white;
    border-radius: 100%;
    cursor: pointer;
}


.reply-input,
.reply-input::placeholder{
    font-size: 13;
    line-height: 18px;
}

.delete-tweet{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    border: solid #5BCEFA 1px;
    border-radius: 100%;
    padding: 5px;
    font-style: normal;
}
