body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FF69FF;
}

/* typography and icons */



h1{
    color: white;
    font-size: 30px;
    justify-content: center;
    margin-bottom: 30px;
    text-shadow: #FF69FF 0px 0px 1px
    
}

i{
    font-size: 15px;
    cursor: pointer;
}

.fa-solid{
    color: #999;
}

.liked{
    color: red;
}

.retweeted {
  color: limegreen;
}

/* layout */

main, header{
    width: 300px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    background-color: #FF69B4;
    border-radius: 20px;
    border: solid;
    border-color: #5BCEFA;
}

header{
    border: solid black 2px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    
}

.header-banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid black 2px;
}


.auth-btns .goto-login-btn,
.auth-btns .goto-signup-btn {
    
    background-color: aqua;
    border-radius: 5px;
    color: black;
    font-weight: 900;
    padding: 0.65em;
    text-decoration: none;
}


input, button {
    font-family: inherit;
    

}

.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding-top: 15px;
    
}

/* textareas + btn */

textarea{
    border: none;
    resize: none;
    padding: 10px;
    margin: 0 0 20px 0;
    height: 60px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    background-color: #FF69B4;
}



.tweet-btn{
    margin-top: .5em;
    background-color: #5BCEFA;
    border: solid 2px;
    border-color: white;
    color: white;
    padding: 10px 19px;
    border-radius: 20px;
    width: 100%; 
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.tweet-btn:hover {
    background-color: dodgerblue;
}

/* .form-btn {
    margin-top: .5em;
    background-color: #5BCEFA;
    color: white;
    padding: 0.8em 1.5em;
    border: none;
    border-radius: var(--radius-md);
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.1rem;
} */

/* tweet */

.tweet{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0;
    width: 100%;
    margin: 15px 0;
}

.tweet-inner{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
}

.tweet-details{
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 160px;
}

.tweet-detail{
    display: flex;
    gap: 4px;
}

.tweet-reply{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0px;
    margin: 10px 0 10px 40px;
    width: 80%;
}

.handle{
    font-size: 12px;
    font-weight: 500;
    color: #555;
    margin-top: 0;
}

.tweet-text{
    width: 207px;
    font-size: 14px;
    line-height: 20px;
}

/* images */

.profile-pic{
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 50px;
}

.replied-profile-pic{
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 40px;
}

.profile-pic#reply-profile-pic {
    width: 25px;
    height: 25px
}

/* utility */
.hidden{
    display: none;
}

.myreply{
    display: flex;
    height: 5%
}

.myreply-button{

    background-color: #5BCEFA;
    border: solid 2px;
    border-color: white;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}


.reply-input,
.reply-input::placeholder{
    font-size: 13;
    line-height: 18px;
}

.delete-tweet{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    border: solid #5BCEFA 1px;
    border-radius: 100%;
    padding: 5px;
    font-style: normal;
}



/* ========== SIGN UP SCREEN ========= */


.signup-screen {
    padding-top: 20px;
    margin-top: 60px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: .4rem;
}

.form-inner {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}


.login-screen {
    padding-top: 20px;
    margin-top: 60px;
}


.front-page {
    background-image: url('https://quadcinema.com/wp-content/uploads/2025/05/cruising-9-1400x782.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.front-page-header {

    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);

}


/* CHATROOM */

.chatroom {
    border: solid black 2px;
    border-radius: 20px;
    position: fixed;
    height: 38rem;
    width: 25rem;
    right: 10%;
    top: 20%;
    background-color: #FF69B4;
    display: flex;
    flex-direction: column;
}

.chatroom-header {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
}

.chatroom-inner {
    border: solid black 1px;
    border-radius: 10px;
    margin: 10px;
    background-color: #5BCEFA;

    flex: 1;            /* Takes remaining space */
    overflow-y: auto;
    padding: 10px;      /* Inner padding instead of huge bottom padding */

}

.text-messages {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    margin-top: auto;
}

.text-messages#text {
    width: 50px;
}

.hidden {
    display: none !important;
}


/* VIDEOCALL */

.videocall {
    border: solid black 2px;
    border-radius: 20px;
    position: fixed;
    height: 38rem;
    width: 25rem;
    background-color: #FF69B4;
    display: flex;
    flex-direction: column;
    top: 20%;
    left: 10%

}

.videocall-header {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
}

.videocall-inner {
    border: solid black 1px;
    border-radius: 10px;
    margin: 10px;
    background-color: #5BCEFA;

    flex: 1;
    /* Takes remaining space */
    overflow-y: auto;
    padding: 10px;
    /* Inner padding instead of huge bottom padding */

}

.videocall-btns {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    margin-top: auto;
}


#localVideo {
    width: 300px;
    height: 200px;
    background: black;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
}

#remoteVideo {
    width: 300px;
    height: 200px;
    background: red;
    display: block;
    border-radius: 10px;
}

#videocall-inner {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.chat-time {
    font-size: 0.75rem; /* Smaller text */
    color: white;        /* Grey color */
    margin-right: 8px;  /* Space between time and name */
}